.container {
  background-color: #325189;
  padding: 30px;
  width: 100%;
}

.skills {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.progressContainer {
  height: 10px;
  width: 350px;
  background-color: #101c33;
  border-radius: 20px;
}

.progressBar {
  height: 10px;
  background-color: white;
  transition: width 1s ease-in-out;
  border-radius: 20px;
}

.title {
    position: relative;
}

.title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; 
    height: 1px;
    background-color: rgb(255, 255, 255);
}