  .container {
    background-color: #203864;
    background-image: url(/public//skyline-def.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }